extends layout

block content
  h1= title
  p Welcome to #{title}
  
  My name is Madhuri Nagulapally. I am from Hyderabad, India amd I have done my undergraduation in Computer Science. I like to learn coding
